.wrapper {
  margin: 0 auto;
  position: relative;
  padding: 2.4rem;
  width: 100%;

  &.full {
    max-width: 100%;
  }

  &.wrap {
    max-width: 1200px;
  }

  &.content {
    max-width: 900px;
  }

  &.thin {
    max-width: 700px;
  }
}

.chunk {
  margin: 0;
  padding: 0;
}

&.white {
  background-color: white;
}

&.gray {
  background-color: #ccc;
}

&.left {
  text-align: left;
}

&.right {
  text-align: right;
}

&.center {
  text-align: center;
}

.noPadX {
  padding-left: 0;
  padding-right: 0;
}

.bigY {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}
